* {
  box-sizing: border-box;
}

body {
    height: 100%;
    background: radial-gradient(ellipse at top, #4c87aa, #00466d );
    overflow-x: hidden;
}


p{
    margin-top: 1vw;
    font-size: 1.3vw;
}

.cite {
    font-style: italic;
}

.cite2 {
    font-style: italic;
    color: palegreen;
}

.contact {
    font-size: 1.1vw;
    font-weight: 250;
    letter-spacing: .1vw;
    position: fixed;
    margin-left: 25%;
    bottom: 3vw;
}




/* Navigation ********************/

.nav__wrapper {
    z-index: 1;
    position: fixed;
    height: 100%;
    padding-left: 8%;
    top: 5%;
}

.nav {
}
.nav__counter {
    
    font-size: 3vw;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.nav__counter__chapter {
    height: 0px;                /* moved the lines width*/
    overflow: hidden;

}
.nav__title {
    font-weight: 300;
    margin-top: 1px;            /* moved the lines width*/
    width: 10vw;                /* moved the words right*/
    height: 0px;                /* moved the lines width*/
    overflow: hidden;
}
.nav__body {
    overflow: hidden;
}

.nav li:after {
    content: '';                /* makes the lines disappear */
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 2550px;             /*Line height*/
    width: 3vw;                 /* Line width */
    position: absolute;
    left: -4vw;                 /* move the chapter more right */
    top: 15px;                  /* move ONLY lines up and down */
}
.nav li a {
    top: -1vw;
    display: block;
    padding: 0;
    color: #fff;                /* chapter number color */ 
}
.nav li a:hover {
    background-color: transparent;
    padding-left: 1em;          /* how far right the number goes on a hover */
}
.nav li a:focus {
    background-color: transparent;      /* background behind clicked-on chapter */
}
.nav li.active {
    pointer-events: none;
    padding-left: 1vw;          /* how far the details are to the right when clicked on */
}
.nav li.active:after {
    width: 4vw;                 /*length of line coming out when clicked on */ 
    height: 300px;
}
.nav li.active .nav__counter {
    font-size: 4vw;   /* clicked on chapter number size */
}

.nav li.active .nav__counter__chapter {
    font-size: 1.5vw;  /* chapter word size, clicked on */
    font-weight: bold;
    margin-bottom: 1vm; /* distance above chapter number when clicked on */
    overflow: visible;
}
.nav li.active .nav__title {
    width: 4vw; /* chapter detail paragraph widths when clicked on */
    margin-left: 3vw;
    overflow: visible;
    font-size: 1.8vw;
}










/* stars *************************************************************/

#layers {
}

#layers .layer {
	background-size: auto 100%;
	background-repeat: repeat-x;
	height: 40vw;
	position: absolute;
	transform: translate3d(0, 0, 0);
	width: 200vw;
    overflow-x:hidden;
    z-index: -1;  /* This makes it go behind the cover */
}

@keyframes twinkle {
	from { opacity: .3; }
	to { opacity: 1; }
}

@keyframes layer-1 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-689px, 0, 0); }
}
#layers .layer:nth-child(1) {
	animation: twinkle 10s ease-in -5s infinite alternate, layer-1 344s linear infinite;
	background-image: url('http://imgur.com/9beLKl9.png');
}

@keyframes layer-2 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-699px, 0, 0); }
}
#layers .layer:nth-child(2) {
	animation: twinkle 3s ease-in -3s infinite alternate, layer-2 349s linear infinite;
	background-image: url('http://imgur.com/46MRYFa.png');
}

@keyframes layer-3 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-699px, 0, 0); }
}
#layers .layer:nth-child(3) {
	animation: twinkle 3.5s ease-in infinite alternate, layer-3 349s linear infinite;
	background-image: url('http://imgur.com/46MRYFa.png');
}

@keyframes layer-4 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-480px, 0, 0); }
}
#layers .layer:nth-child(4) {
	animation: twinkle 4s ease-in -2s infinite alternate, layer-4 240s linear infinite;
	background-image: url('http://imgur.com/BqkETyl.png');
}

@keyframes layer-5 {
	from { transform: translate3d(0, 0, 0); }
	to { transform: translate3d(-486px, 0, 0); }
}
#layers .layer:nth-child(5) {
	animation: twinkle 5.5s ease-in infinite alternate, layer-5 243s linear infinite;
	background-image: url('http://imgur.com/x1GB77K.png');
}

@keyframes shooting-star {
	0% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate3d(-270px, 180px, 0);
	}
}

#layers:before {
	animation: 500ms linear 3s shooting-star;
	background-image: url('http://imgur.com/ilhrli3.png');
	background-size: 72px 50px;
	content: ' ';
	height: 50px;
	left: 80%;
	position: absolute;
	top: -50px;
	width: 72px;
	z-index: -1; /* This makes the star behind the cover */
}









/* stagnant title ***********************************************************/

span {
}
#title {
    position: absolute;
    margin-top: 20vw;
    width: 60vw;
    margin-left: 10vw;
    font-size:  1.9vw;
    font-family: "lato", sans-serif;
    text-align: center;
    color: #FFF;
    letter-spacing: .9vw;
}

#title span {
  background: -webkit-linear-gradient(white, #7692af);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.GatsbyTitle {
   width: 50vw;
}















/* parallax ********************************************************************/

.parallax {
  -webkit-perspective: 100px;
          perspective: 100px;
    height: 115vw;
    overflow-x:hidden;
    overflow-y: auto; 
    position: absolute;
    width: 100%;
    border-bottom: 1vw solid #1a1a1a; 

}

.parallax__layer img {    /* Keeps everything level horizontally */
    display: block;
    position: absolute;
     bottom: 0;
}


.parallaxWiden {
    width: 100vw;
}

.moonWiden {
    width: 10vw;
}

.widenPier {
    width: 85vw;
}

.parallax__layer__0 {
  -webkit-transform: translateZ(-300px) scale(1);
          transform: translateZ(-300px) scale(1);
        max-width: 100%;
        height: 10vw;
}

.parallax__layer__1 { /* Moon */
  -webkit-transform: translateZ(-250px) scale(3.5);
          transform: translateZ(-250px) scale(3.5);
        margin-left: 120vw;
        margin-top: -60%;
}
 
.parallax__layer__2 { /* House */
  -webkit-transform: translateZ(-200px) scale(3.1);
          transform: translateZ(-200px) scale(3.1);
        margin-top: 110%;
        display: block;
}

.parallax__layer__3 {  /* Lighthouse */
  -webkit-transform: translateZ(-150px) scale(2.5);
          transform: translateZ(-150px) scale(2.5);
    margin-left: 17%; 
}

.parallax__layer__4 { /* Water */
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
        margin-left: 0%;
        margin-top: 139%;
        max-width: 100%;
}

.parallax__layer__5 { /* Pier */
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);
        margin-left: 13%;
        margin-top: 80%;
}

.parallax__layer__6 { /* Grass */
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);

}

a {
    font-size: .1vw;
}

.parallax__cover {
    background: #000000;
    display: block;
    position: absolute;
    width: 100%;
    height: 85vw;  /* what pushes down the top banner */
    margin-top: -10%;

}

.lighthouse {
    margin: 0 auto;
    width: 250px;
    position: relative;
    display: block;
}

.lighthouse .lightAnimation {
    position: absolute;
    top: -5vw; /* move lighthouse up or down */
      /* move lightout right or left */
    height: 5px;
    border-radius: 100%;
    border-width: 0px;
  -webkit-animation: glow 3s ease infinite;
          animation: glow 3s ease infinite;
}

@keyframes glow {

  16.5% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
  }
  33.3% {
    left: 113px;
    width: 3px;
    background-color: #51e831;
    box-shadow: 0px 0px 15px 20px #d5ffcc;
  }
  50% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
  }
  66.6% {
    left: 109px;
    width: 0px;
    background-color: #fff;
  }
}















/* parallax intro paragraph *******************************************************/



.introductionDivFrame {
    position: relative;
    top: 10vw;
    margin-left: 20%; /* move the frame */ 
}

.frame {
    width: 65vw;
    height: 52vw
}

.introductionDivWords {
    position: absolute;
    top: 17%;
    left: 7.5%;                   /* move words to the right */
    background-color: transparent;
    max-width: 65%;
    max-height: 70%;
}
.introduction {
    text-indent: 30px;
    font-size: 1.6vw;
    text-align: justify;
    font-family: 'Poiret One', cursive;
    color: #ebebeb;
}

/* Glowing Words *****************************************************/
.locationsWords{
    
    margin-top: -2%;            /* move glow words up */
    font-size: 2.5vw;
    text-align: center;
    color: #ebebeb;
}

.card {
    position: relative;
    display: grid;
    place-items: center;
    background-color: #18181b;
}

.card-body-locations {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: grid;
    background-color: transparent;
    font-family: monospace;
}


.locationWordsText {
    font-family: 'Poiret One', cursive;
    grid-column: 1;
    grid-row: 1;

}

.locationWordsText.text-glow {
    
    filter: blur(.1vw);
    background-color: #3bff00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowingText 2s infinite alternate;
}


@keyframes glowingText {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}












/* Title Banners*******************************/

.titleBanners{
    background-color: #010101;
    border-top: 10px solid #000000;
    border-bottom: 10px solid #000000;
    position: -webkit-sticky;
}


.titleBannerContents {
    margin-left: 18%;
    padding: 14%;
}

.titleBannerCity{
    font-size: 5vw;
    font-family: 'Homenaje', sans-serif;
}

.titleBannerCityPart{
    font-size: 2.5vw;
    margin-top: -30px;
}

#titleBanner1 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
    background-image: url('sectionPhotos/Minnesota4.jpg');

}

#titleBanner1b {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;

}

#titleBanner1c {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner1d {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner2 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;

}

#titleBanner2b {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner3 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner4 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner5 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner6 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner7 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner8 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner9 {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner9b {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}

#titleBanner9c {
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: 100% 100%;
}








/* Sections backgrounds ****************************/


#section1 {
    background-image: url('sectionPhotos/deco8.jpg');
    background-size: 40vw;
    background-attachment: fixed;
}

#section2 {
    background-image: url('sectionPhotos/deco9.jpg');
    background-size: 35vw;
    background-attachment: fixed;
}

#section3 {
    background-image: url('sectionPhotos/deco10.jpg');
    background-attachment: fixed;
    background-size: 35vw;
}

#section4 {
    background-image: url('sectionPhotos/deco5.jpg');
    background-attachment: fixed;
    background-size: 25vw;
}

#section5 {
    background-image: url('sectionPhotos/deco4.jpg');
    background-attachment: fixed;
    background-size: 25vw;
}

#section6 {
    background-image: url('sectionPhotos/deco3.jpg');
    background-attachment: fixed;
    background-size: 30vw;
}

#section7 {
    background-image: url('sectionPhotos/deco8.jpg');
    background-attachment: fixed;
    background-size: 40vw;
}

#section8 {
    background-image: url('sectionPhotos/deco9.jpg');
    background-attachment: fixed;
    background-size: 35vw;
}

#section9 {
    background-image: url('sectionPhotos/deco10.jpg');
    background-attachment: fixed;
    background-size: 35vw;
}













/* Sections ***********************************************/


.wrapper {    /* Where is the end?????????????*/
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  color: #fff;
  position: relative;   
    overflow-x:hidden;
}

.sections{
    display: inline-block;
    width: 100%;
    margin-top: 115vw;
    overflow-x:hidden;
}

.grouping {
    width: 90vw;
    top: 50%;
    padding-bottom: 5%;
    margin-top: 16%;
    margin-bottom: 14%;
    margin-left: 18%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.map {
    border: 2px solid black;
    align-self: center;
    -webkit-box-shadow: -1px 1px 50px 10px rgba(0,0,0,1); 
    box-shadow: -1px 1px 50px 10px rgba(0,0,0,1);
    max-width: 40vw;
}

.wordBox {
    border: 3px solid black;
    align-self: center;         /* makes wordbox adjust height */
    background-color: #212121;
    max-height: 35vw;
    max-width: 30vw;
    overflow-y: auto;  
    text-indent: 2vw;
    text-align: justify;
    float: right;
    margin-left: 3vw;            /* moves maps */
    margin-right: 10%;          /* moves word box groups from the right */
    padding: 2%;  
    -webkit-box-shadow: -1px 1px 50px 10px rgba(0,0,0,0.9); 
    box-shadow: -1px 1px 50px 10px rgba(0,0,0,.95);
}

.step {
    text-indent: 0px;
/* font-weight: bold; */
    font-size: 2.6vw;
    margin-left: 10px;
    
}
.smallDate {
    display: inline-block;
    font-size: 1.5vw;
    margin-left: 4%;
}



/* "Scroll Down" Glowing Words ****************************************/



.card {
    position: relative;
    display: grid;
    place-items: center;
    background-color: #18181b;
}

.card-body-scroll {
    display: grid;
    background-color: #212121;  
    height: 40px;
}


.scrollWordsText {
    top: 0;
    left: 0;
    text-indent: 2vw;
    letter-spacing: .5vw;
    font-size: 1.8vw;
    font-weight: 300;
    color: goldenrod;
    text-shadow: 0px 0px 6px rgba(218,165,32,100); /* makes the shadow really show */
    width: 95%;
    height: 30%;
    grid-column: 1;
    grid-row: 1;
}

.scrollWordsText.text-glow {
    font-weight: 400;
    background-color: #daa520;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowingText 1.5s infinite alternate;
}


@keyframes glowingText {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


















/* The Final Tour Step, Above the glowing paragraph *************/ 
.finalGrouping {
    width: 90vw;
    top: 50%;
    padding-bottom: 5%;
    margin-top: 16%;
    margin-left: 18%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.finalWordBox {
    max-height: 35vw;
    max-width: 30vw;
    text-indent: 30px;
    background-color: #212121;
    overflow-y: auto;  
    font-size: 20px;
    border: 3px solid black;
    margin-left: 5%;
    margin-right: 10%;
    padding: 2%;
    -webkit-box-shadow: -1px 1px 50px 10px rgba(0,0,0,0.9); 
    box-shadow: -1px 1px 50px 10px rgba(0,0,0,0.9);
}











/* The End Glowing Box *********************/

.container {
    display: grid;
    place-items: center;
    height: 90vh; /* area all around the box */
}

.card {
    position: relative;
    background-color: #212121;
    -webkit-box-shadow: -1px 1px 50px 10px rgba(0,0,0,0.9); 
    box-shadow: -1px 1px 50px 10px rgba(0,0,0,.95);
}

.card-body {
    z-index: 2;
    display: grid;
    width: 50vw;
    height: 50vw;
    background-color: #18181b;
    text-indent: 30px;
    font-family: monospace;
    font-family: 'Special Elite', cursive;
    text-align: justify;
}

.card-glow {
    position: absolute;
    top: 2;
    left: 2;
    width: 50vw;
    height: 50vw;
    background-color: #5dfa9e;
    opacity: .4;
    filter: blur(5vw);
    z-index: 1;
    animation: glowingShadow 2.3s ease infinite alternate;
}

.indent {
    margin-top: 3%;
}

.theEndText { /* all the paragraphs and words */
    grid-column: 1;
    grid-row: 1;
    font-size: 2.25vw;
    line-height: 3.5vw;
    padding: 7%;
}

.theEnd{ /* the literal words */
    text-indent: 0px;
    margin-top: 7%;
    font-size: 4vw;
    text-align: center;
}


.theEndText.text-glow {
    background-color: #60ff7d;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowingText 2.3s infinite alternate;
}

@keyframes glowingShadow {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(0.65);
  }
}

@keyframes glowingText {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}






